.container {
}
.header {
  background-color: #f6f7fb;
  height: 218px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .header-center {
    margin: 0 50px;
    flex: 1;
    .search {
      background-color: #ffffff;
      border-radius: 12px;
      height: 48px;
      display: flex;
      align-items: center;
      .search-form {
        background: #f6f7fb;
        margin: 0 5px;
        padding: 10px;
        border-radius: 12px;
      }
      .search-ipt {
        flex: 1;
      }
    }
    .menus {
      display: flex;
      // justify-content: space-around;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
  }
}
